<html>
    <head>
        <title>ThinkAboutFuture</title>
    </head>
    <body>
        <div>
            <h1><a href="">A Blog to Discuss</a></h1>
        </div>

        <div>
            <p>published: 23 May 2017 10:35</p>
            <h2><a href="">My first post</a></h2>
            <p>Guys I created this blog to interact with you about the future plans u have and try to help u to achieve it </p>
        </div>

        <div>
            <p>published: 23 May 2017 10:37</p>
            <h2><a href="">My second post</a></h2>
            <p>I will post about the regular trends of technology and try to keep you upto date and guys post about u r future plans and steps need to take which helps other to develop themselves</p>
        </div>